* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

button {
    border: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}
